

.sidebar-items {
    height: 100%;

    .order {

        background-color: #f2f1f1;
        padding: 15px 10px;
        height: 12.5%;
        min-height: 121px;
        display: table;
        width:100%;
        border-bottom: 2px solid #ddd;


        .content {
            display: table-cell;
            vertical-align: middle;
            > div {
                margin: 10px 0;
            }
            .name {
                font-size: 16px;
                color: #375752;
            }
            .info {
                color: #7b7979;
                font-size: 14px;
                font-weight: lighter !important;
            }
        }
    }
}
