.toolbar-left {
    margin-top: 100px;
    height: 100vh;
    // minus height of header and top-bar
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    border-right: 4px solid #bdbcbc;
    width: 20%;

    .order {
        transition: background 0.3s;
        &:hover {
            background-color: rgba(240, 52, 112, 0.5);
        }
    }
}


.header {
    max-height: 50px;
    background-color: #f03470 !important;
    color: #ffffff;
    border: 0px !important;
    font-size: 16px;

    .tshirt {
        width: 50px;
        height: 50px;
    }

    .vertical-line {
        height: 20px;
        margin-top: 15px;
    }
    .text {
        margin: 15px;
        &.title {
            font-weight: bold;
        }
    }
}

.top-bar {
    margin-top: 50px;
    max-height: 50px;
    color: #ffffff;
    background-color: #bdbcbc !important;
    border-color: #bdbcbc !important;
    .text {
        margin: 15px;
        font-size: 16px;
    }

    .form-control {
        color: rgb(37, 37, 37) !important;
        margin: 12px;
        max-width: 100px;
        max-height: 25px;
        padding: 0px;
    }
    select {
        float:left;
    }
}
